nav {
    width: 100%; 
    height: 10%;
    font-weight: bolder;
}

nav ul li {
    display: inline; 
}
li{
    font-size: 25px;
     font-family: 'Handjet', sans-serif;
}
a{
    text-decoration: none;
    color:white;
}
a:hover{
    color:#3b3b67;
}

body {
    background-color: #cdcff4;
}

#profile-section > section{
  width: 65%;
  display: inline-block; 
}

.avatar {
    border-radius: 94%;
    height: 64%;
    width: 25% !important;
    
}

.avatar img{
    border-radius: 94%;
    width: 80%;
    
}
.featured{
    height: 50%; 
    border: 1px solid #7c7e9c;
}
#projects > section {
      display: inline-block;
      border: 2px #7c7e9c solid;
      width: 30%;
}

#skills{
    display: inline;
}
.project-image{
    width: 33%;
    height: 33%;
    border: 2px solid;
}
.featured-image{
    width: 50%;
    height: 50%px;
    border: 2px solid;
}
.featured{
    height: fit-content;
    background-color: #b7bae3;
}
.featured:hover{
    background-color: #9294b4;;
}